
dist
node_modules
package-lock.json
processengine.sqlite

logging_api_contracts
logging_api_http
logging_api_core
logging.repository.file_system

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/
